<div id="route-container">
  <div class="font-bold">
      <p id="route-label">Route</p>
  </div>
  <div class="add-route-container">
      <div id="input-and-display-address" class="col col-xl-6 col-lg-12">
          <div class="form-group">
              <input class="form-control" #search [formControl]="searchControl" type="text" placeholder="Search for Location" autocorrect="off"
                  autocapitalize="off" spellcheck="off">
          </div>
          <div id="addresses-container" *ngIf="addresses">
              <ul *ngFor="let address of addresses; let index = index; trackBy: trackByIndex;">
                  <div class="line">
                      <div class="letter-marker">{{ alphabeticLabels[index] }}</div>
                      <div>
                          <li>
                              <div>{{ address.street }}</div>
                              <input class="address-complement" placeholder="Ex.: AP 65 or HOUSE 2" [(ngModel)]="addresses[index].additionalInfo">
                          </li>
                      </div>
                  </div>
              </ul>
          </div>
          <div id="distance-price-container" *ngIf="distance">
              <div id="distance-container">
                  <div class="font-bold">
                      <p id="distance-label">Distance</p>
                  </div>
                  <div id="distance-value">{{ distance }} km</div>
              </div>
              <div id="price-container">
                      <div class="font-bold">
                          <p id="price-label">Total Due</p>
                      </div>
                      <div id="price-value">{{ distancePrice | currency:'USD' }}</div>
              </div>
          </div>
      </div>
      <div id="map" class="col col-xl-6 col-lg-12">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">

              <div *ngIf="markers.length === 1">
                  <agm-marker [latitude]="markers[0].lat" [longitude]="markers[0].lng" [label]="markers[0].label">
                  </agm-marker>
              </div>

          </agm-map>
      </div>
  </div>
</div>
